/* medium */
@media screen and (max-width: 991px){

  .card{
    width: calc(100% / 4);
  }

  .card.d-none{
    display: none;
  }
}

/* small */
@media screen and (max-width: 767px) {

  .card{
    width: calc(100% / 2);
    max-width: none;
  }

}

/* x-small */
@media screen and (max-width: 576px){
  header{
    width: 40px;
  }

  header a,
  #up-nav h3,
  header img.hide{
    display: none;
  }

  #new-playlist{
    overflow: hidden;
    min-height: 0%;
  }

  nav.a-i-start,
  div.a-i-start{
    align-items: center;
  }

  header li>img,
  #up-nav img.d-none{
    padding-right: 0;
  }


  #up-nav img.d-none,
  #low-nav figure{
    display: inline;
    margin: 0;
  }

  header>nav{
    padding: 8px;
  }

  footer img{
    width: 20px;
  }
}