/* medium */
@media screen and (max-width: 991px){

  .flex.cards{
    justify-content: flex-start;
  }

  .card{
    width: calc(100% / 4);
    max-width: none;
  }

  .card.d-none{
    display: none;
  }
}

/* small */
@media screen and (max-width: 767px) {

  .card{
    width: calc(100% / 2);
    max-width: none;
  }

}

/* x-small */
@media screen and (max-width: 576px){
  header{
    width: 40px;
  }

  .display{
    display: none;
  }

  nav.a-i-start,
  div.a-i-start{
    align-items: center;
  }

  header li>img,
  header div img,
  img.d-none{
    padding-right: 0;
  }


  img.d-none
  header figure{
    display: inline;
    margin: 0;
  }

  header>nav{
    padding: 8px;
  }
}