*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: .6rem;
  color: white;
}


a{
  text-decoration: none;
  color: #a3a3a3;
}


ul li{
  list-style: none;
}

h3{
  padding-bottom: .3rem;
}

/* FLEX */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.a-i-start{
  align-items: flex-start;
}

.a-i-center{
  align-items: center;
}

.a-i-end{
  align-items: flex-end;
}

.j-c-end{
  justify-content: end;
}

.j-c-center{
  justify-content: center;
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

/* END FLEX */

/* POSITION */
.relative{
  position: relative;
}

.absolute{
  position: absolute;
}
/* END POSITION */

.container{
  margin: 0 16px;
}

.m-up{
  margin-top: 1rem;
}

.card img,
figure{
  max-width: 100%;
}

.card img{
  object-fit: contain;
  padding-bottom: 5px;
}


.card{
  margin-top: 8px;
  text-align: center;
  padding: 4px;
}

.card-six{
  width: calc(100% / 6);
  max-width: 308px;
}

.card-five{
  width: calc(100% / 5);
}

.clr-gray{
  color: #a3a3a3;
}

.clr-white{
  color: white;
}

.bold{
  font-weight: 900;
}

.border-cento{
  border-radius: 100%;
}

.green-line{
  background: #90ce2b;
}


a:hover{
  color: white;
  font-weight: bolder;
}

a:hover i{
  background-color: white;
}


/* HEADER */
header{
  background-color: black;
  height: calc(100vh - 60px);
  width: 170px;
}

header nav{
  height: 100%;
  padding: .6rem;
}

header nav section{
  padding-bottom: 0;
}

header ul{
  margin-bottom: 1rem;
}

header ul li,
img.d-none{
  line-height: 1.5rem;
}

header div.green-line{
  height: 100%;
  width: 3px;
  top: 0;
  left: -.6rem;
}

header li>img,
header div img,
img.d-none{
  width: 19px;
  vertical-align: middle;
  padding-right: .2rem;
}


/* UP NAV */
#up-nav>img{
  height: 2rem;
  margin-bottom: 16px;
}

#up-nav h3{
  padding-bottom: 1rem;
}

#up-nav img.d-none{
  display: none;
}

#up-nav i{
  font-size: 1rem;
  color: black;
  background-color: #a3a3a3;
  padding: .5rem;
  margin: 0 .2rem .7rem 0;
}
/* END UP-NAV */

/* NEW PLAYLIS */
#new-playlist{
  overflow: auto;
  min-height: 45px;
  height: 100%;
  width: 100%;
  justify-self: start;
}
/* END NEW PLAYLIST */

/* LOW NAV */
#low-nav{
  width: 100%;
}

#low-nav figure{
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-color: #a3a3a3;
  overflow: hidden;
  margin-right: .2rem;
}

#low-nav div.border-b{
  border-bottom: 2px solid #a3a3a3;
}

#low-nav figure img{
  width:100%;
  object-fit: cover;
  padding: 0;
}

#low-nav div{
  padding:.6rem 0;
}
/* END LOW NAV */
/* END HEADER */



/* MAIN */
main{
  background-color: #141922;
  width: calc(100vw - 170px);
  height: calc(100vh - 60px);
  flex-grow: 1;
  overflow: auto;
}

main>section>h2{
  padding: 16px 0 8px 4px;
  
}

main .maxim{
  max-width: 328px;
}

/* UPGRADE */
#upgrade{
  height: 3.5rem;
  background-color: #080b12;
  padding: 0 5px;
}

#upgrade button{
  text-transform: uppercase;
  padding: .5rem 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 30px;
  border: 1px solid white;
  font-size: .5rem;
  transition: .4s;
}

#upgrade button:hover{
  padding: .7rem 1.7rem;
}

#upgrade button:active{
  padding: .5rem 1.5rem;
}
/* END UPGRADE */

/* DISCOVER */
#discover li{
  text-transform: uppercase;
  padding: .8rem;
  margin: 0;
}

#discover .green-line{
  width: 2rem;
  height: 3px;
  bottom: .5rem;
  left: calc(50% - 1rem);
}

/* PLAYLIST */
.play-container img.absolute{
  display: none;
  transition: .2s;
}

.card:hover .play-container img.absolute{
  display: inline-block;
  max-width: 300px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate( -50%);
  padding: 10%;
  background-color: #28282875;
}

.card:active .play-container img.absolute{
  padding: 13%;
  opacity: .9;
}
/* END PLAYLIST */

/* CREATED FOR */
/* END CREATED FOR */

/* POPULAR ARTIST */
#popular-artist .rounded-container{
  max-width: 320px;
  margin: 0 auto;
}

#popular-artist figure.rounded{
  width: 100%;
  height: 0;
  padding-top: 100%; 
  overflow: hidden;
}


#popular-artist img{
  width:100%;
  top: 0;
  right: 0;
}
/* END POPULAR ARTIST */

/* END MAIN */



/* FOOTER */
footer{
  height: 60px;
  background-color: #282828;
  padding: 8px;
  font-size: .5rem;
  width: 100%;
  z-index: 1;
}

#music-playing div,
#music-playing h2,
#music-playing img,
footer i{
  margin-right: 9px;
}

footer i{
  font-size: .8rem;
}

footer img{
  width: 30px;
  }

/* MUSIC PLAYING */
#music-playing i:hover{
  color: white;
}

#music-playing div.underline:hover{
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
/* END MUSIC PLAYING */

/* PLAY COMMAND */
#play-command{
  width: 35%;
}

#play-command i{
  font-size: 1rem;
  margin-right: 1rem;
}


#play-command i.no-margin{
  margin: 0;
}

#play-command .play-relative{
  width: 3rem;
}

#play-command i.fa-circle-play{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#play-command i.fa-circle-play:hover{
  font-size: 1.3rem;
}


#play-command div.music-minute{
  width: 100%;
  margin-top: 5px;
}

#play-command div.music-minute span{
  padding: 0 5px;
}

#play-command div.minute-bar{
  width: 80%;
  margin-top: calc(.25rem - 3px);
}
/* END PLAY COMMAND */

/* VOLUME */
#volume div.volume-bar{
  width: 80%;
}

#volume{
  width: 150px;
}
/* END VOLUME */

/* BARS FUNCTION */
div.actual{
 width: 30%;
 height: 3px;
 background-color: #c3c3c3;
 border-radius: 2px;
}

div.miss{
  width: 70%;
  height: 3px;
  background-color: #595959;
  border-radius: 2px;
}

div.circle-pointer{
  width: 10px;
  height: 10px;
  background-color: #c3c3c3;
  left: calc(30% - 4px);
  top: -4px;
  display: none;
}

div.minute-bar:hover div.circle-pointer,
div.volume-bar:hover div.circle-pointer{
  display: block;
}

div.minute-bar:hover div.actual, 
div.volume-bar:hover div.actual{
  background-color: green;
}
 /* END BARS FUNTION */

/* END FOOTER */

header div.green-line{
  height: 100%;
  width: 3px;
  top: 0;
  left: -.6rem;
}















