*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  color: white;
}

ul{
  margin-bottom: .5rem;
}

ul li{
  list-style: none;
  padding-bottom: .6rem;
}

hr{
  margin: .6rem 0;
}

/* FLEX */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.a-i-start{
  align-items: flex-start;
}

.j-c-end{
  justify-content: end;
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.bold{
  font-weight: 900;
}

.clr-white{
  color: white;
}

/* END FLEX */

/* POSITION */
.relative{
position: relative;
}

.absolute{
position: absolute;
}
/* END POSITION */

.clr-gray{
  color: gray;
}

/* HEADER */
header{
  background-color: black;
  height: calc(100vh - 100px);
  width: 230px;
}

header h3{
  padding-bottom: 1rem;
}

header nav{
  height: 100%;
  padding: .6rem;
}

nav img{
  height: 2rem;
  margin-bottom: 16px;
}

header nav>div{
  height: 100%;
}
/* END HEADER */



/* MAIN */
main{
  background-color: red;
  width: calc(100vw - 230px);
  height: calc(100vh - 100px);
  flex-grow: 1;
  overflow: auto;
}
/* UPGRADE */
#upgrade{
  height: 4rem;
  background-color: gray;
}

#upgrade button{
  text-transform: uppercase;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 30px;
  border: 1px solid white;
}

/* END UPGRADE */

/* PLAYLIST */
#playlist{
  padding: 16px;
}
#playlist>div{
  width: calc(100% / 6);
  max-width: 200px;
  margin-top: 16px;
  text-align: center;
}

#playlist>div img{
  width: calc(100% - 8px);
}
/* END PLAYLIST */

/* END MAIN */



/* FOOTER */
footer{
  height: 100px;
  width: 100%;
  background-color: grey;
}
/* END FOOTER */